
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    font-family: 'Inter', 'Forum', 'Roboto', sans-serif;
}

.main {
    text-align: center;
    display: flex;
    justify-content: center;
}

.card {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.card {
    display: flex;
    flex-direction: column;
}

.card-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-center-right {
    display: flex;
    flex-direction: column;
}

.play-button {
    width: 50px;
    height: 50px;
    background-image: url('./assets/svg/play.png');
    background-size: contain;
    transition: all .18s ease-in;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.pause-button {
    background-image: url('./assets/svg/pause.png');
}

.prev {
    width: 30px;
    height: 30px;
    background-image: url('./assets/svg/backward.png');
    background-size: contain;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    transition: all .18s ease-in;
}

.prev:hover {
    cursor: pointer;
    background-color: rgb(251, 204, 217);
    border-radius: 50%;
}

.next {
    width: 30px;
    height: 30px;
    background-image: url('./assets/svg/forward.png');
    background-size: contain;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    transition: all .18s ease-in;
}

.next:hover {
    cursor: pointer;
    background-color: rgb(251, 204, 217);
    border-radius: 50%;
}

.play-button:hover {
    cursor: pointer;
    background-color: rgb(251, 204, 217);
    border-radius: 50%;
}

.card-top {
    transition: all 0.18s ease-in;
}

.main {
    width: 100vw;
    height: 100vh;
}

.ava-bgi {
    filter: blur(0.5vw);
}

.card-button {
    background-color: azure;
}

.card-button {
    border-radius: 15px;
    padding: 20px 25px 10px 25px;
}

.ava-img {
    border-radius: 15px;
}

.card-center {
    margin-bottom: 10px;
}

.prev {
    margin-bottom: 7px;
}

.card-center-left {
    display: flex;
    align-items: center;
}

.card-center-reght {
    display: flex;
    align-items: center;
}

.card-center-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart-foot {
    padding: 0 20px;
}

.progress-wrap {
    width: 100%;
    height: 6px;
    background-color: rgb(193, 159, 196);
    box-shadow: 1px 1px 11px 14px rgba(190, 120, 255, 0.251);
    cursor: pointer;
    transition: all .10s ease-in;
}

.progress-wrap:hover {
    box-shadow: 1px 1px 11px 14px rgb(251, 204, 217);
}

.progress-inner {
    width: 10%;
    height: 6px;
    background-color: rgb(82, 0, 79);
    transition: 0.2s;
}

.current-time {
    text-align: left;
    font-size: 18px;
}

.song-length {
    text-align: right;
    font-size: 18px;
}

.author-text {
    font-weight: 600;
    background-image: linear-gradient(to bottom right, rgb(193, 193, 255),  rgb(251, 204, 217));
    padding: 0 5px;
    border-radius: 4px;
}

.song-name {
    margin-top: 10px;
}

.card-button {
    background-image: linear-gradient(to bottom right, rgb(232, 222, 252),  rgb(230, 255, 255));
}

.footer {
    background-image: linear-gradient(to bottom right, rgb(232, 222, 252),  rgb(230, 255, 255));
    border-radius: 15px;
}

.link  {
    text-decoration: none;
    transition: all .10s ease-in;
}

.link:hover  {
    text-decoration:underline;
}

.footer {
    font-size: 18px;
    padding: 10px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-top: 3px solid #1111;
}

.downlaod-wrap:hover {
    background-color: rgb(251, 204, 217);
    border-radius: 10px;
}

.downlaod-wrap {
    display: flex;
    flex-direction: row;
    transition: all 0.2s;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
}

.download-text {
    margin-right: 10px;
}

.download-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}